<section class="main-container">
    <form class="search-form" id="search-form">
        <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
        <button type="submit" class="submit-btn">
            <span class="find-label">Find</span>
        </button>
    </form>
</section>
<section class="gallary-container">
    <div class="gallary-box"></div>
    <button type="button" class="load-btn" data-actions="load-more">
        <span class="load-label">Load more</span>
    </button>
</section>

