<section class="main-container">
    <a name="top"></a>
    <form class="search-form" id="search-form">
        <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
        <button type="submit" class="submit-btn">Find</button>
    </form>
</section>
<section class="gallary-container">
    <div class="gallary-box"></div>
    <button type="button" class="load-btn btn btn-primary button" data-actions="load-more" disabled>
        <span class="spinner-border spinner-border-sm spinner is-hidden" role="status" aria-hidden="true"></span>
        <span class="label">Load more</span>
    </button>
    <div class="up-btn-container">
        <a href="#top">
            <button type="button" class="up-btn material-icons">forward</button>
        </a>
    </div>
</section>

